/* wildcard selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    /* Generic style */
    font-family: 'paratype', serif;
}

/* header */
header {
    background-color: hsl(190, 5%, 47%);
    
} 

h1 { 
    font-family: 'open-suns', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5f5050;
    text-align: center;
    transform: translateY(9rem);
}


header a {
    text-decoration: none;
    font-size: 25px;
}

#logo {
    display: flex;
    align-items: flex-end;
    padding: 1rem 95% 50px 0;
    margin: 10px 14px;
}

.man-logo {
    width: 11rem;
    height: 11rem;
    border-radius: 10px 20px;
}

/* main */
main {
    background-color: blanchedalmond;
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: brown;
}